body{
    margin: 0;
    padding: 0;
}

#header{
    display: flex;
    justify-content: center;
    background-color: orange;
    color: white;
    border-bottom: white solid 2 px;
}

#header h1{
    text-align: center;
}

.question-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    border-bottom: white 2px solid;
    background-color: orange;
}

.question-container item {
    border: solid white 2px;
}

.question-container img{
    width: 100%;
    background-color: orange;
    height: 200px;

    
}



.choise-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: orange 2px solid;
}

.item  {
    border: solid orange 2 px;
    flex: 25%;
    background-color: thistle;
}

#photo {
    background-color: thistle;
    color: white;
}